<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Taco Cloud</title>
        <link rel="stylesheet" th:href="@{/styles.css}"/>
    </head>
    <body>
        <header class="flex align-center justify-center">
            <img alt="taco cloud logo" th:src="@{/images/taco-cloud.png}"/>
            <h1>Order your taco creations!</h1>
            <a class="button" th:href="@{/tacos}">Design another taco</a>
        </header>

        <form class="md-v-margin" method="post" th:action="@{/orders}" th:object="${order}">
            <div class="validation-error" th:if="${#fields.hasErrors()}">
                Please correct the problems below and resubmit.
            </div>
            <div class="card-group">
                <div class="card">
                    <h2>Deliver my taco masterpieces to...</h2>
                    <div class="form-field-group">
                        <div class="form-field">
                            <input type="text" placeholder="Name" th:field="*{name}"/>
                            <label for="name">Name</label>
                            <div class="validation-error"
                                 th:if="${#fields.hasErrors('name')}"
                                 th:errors="*{name}">CC Num Error
                            </div>
                        </div>
                        <div class="form-field">
                            <input type="text" placeholder="Street address" th:field="*{street}"/>
                            <label for="street">Street address</label>
                            <div class="validation-error"
                                 th:if="${#fields.hasErrors('street')}"
                                 th:errors="*{street}">CC Num Error
                            </div>
                        </div>
                        <div class="form-field">
                            <input type="text" placeholder="City" th:field="*{city}"/>
                            <label for="city">City</label>
                            <div class="validation-error"
                                 th:if="${#fields.hasErrors('city')}"
                                 th:errors="*{city}">CC Num Error
                            </div>
                        </div>
                        <div class="form-field">
                            <input type="text" placeholder="State" th:field="*{state}"/>
                            <label for="state">State</label>
                            <div class="validation-error"
                                 th:if="${#fields.hasErrors('state')}"
                                 th:errors="*{state}">CC Num Error
                            </div>
                        </div>
                        <div class="form-field">
                            <input type="text" placeholder="Zip code" th:field="*{zipCode}"/>
                            <label for="zipCode">Zip code</label>
                            <div class="validation-error"
                                 th:if="${#fields.hasErrors('zipCode')}"
                                 th:errors="*{zipCode}">CC Num Error
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h2>Here's how I'll pay...</h2>
                    <div class="form-field-group">
                        <div class="form-field">
                            <input type="text" placeholder="Credit card" th:field="*{cardNumber}"/>
                            <label for="cardNumber">Credit card</label>
                            <div class="validation-error"
                                 th:if="${#fields.hasErrors('cardNumber')}"
                                 th:errors="*{cardNumber}">CC Num Error
                            </div>
                        </div>
                        <div class="form-field">
                            <input type="text" placeholder="Expiration" th:field="*{cardExpirationDate}"/>
                            <label for="cardExpirationDate">Expiration</label>
                            <div class="validation-error"
                                 th:if="${#fields.hasErrors('cardExpirationDate')}"
                                 th:errors="*{cardExpirationDate}">CC Num Error
                            </div>
                        </div>
                        <div class="form-field">
                            <input type="text" placeholder="CVV" th:field="*{cvv}"/>
                            <label for="cvv">CVV</label>
                            <div class="validation-error"
                                 th:if="${#fields.hasErrors('cvv')}"
                                 th:errors="*{cvv}">CC Num Error
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-right md-v-margin">
                <input type="submit" value="Submit order"/>
            </div>
        </form>
    </body>
</html>
