<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Taco Cloud</title>
        <link rel="stylesheet" th:href="@{/styles.css}"/>
    </head>
    <body>
        <header class="flex align-center justify-center">
            <img alt="taco cloud logo" th:src="@{/images/taco-cloud.png}"/>
            <h1>Welcome to...</h1>
            <a class="button" th:href="@{/tacos}">Design taco</a>
        </header>
    </body>
</html>
